<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuizProject.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuizProject.My.MySettings.quizDbConnectionString"
            connectionString="Data Source=dmu-marco.database.windows.net;Initial Catalog=quizDB;Persist Security Info=True;User ID=todoAdmin;Password=mDuCQAmVMpxAJ6vmGq9P"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <QuizProject.My.MySettings>
            <setting name="userid" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedQuiz" serializeAs="String">
                <value />
            </setting>
            <setting name="questionNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="quizQuestions" serializeAs="String">
                <value />
            </setting>
            <setting name="quizResult" serializeAs="String">
                <value>0</value>
            </setting>
        </QuizProject.My.MySettings>
    </userSettings>
</configuration>
